.last{
    position: absolute;
    top: 60px;
    left:200px;
}
div.stars {
width: 270px;
display: inline-block;
}

input.star { 
display: none;
}

label.star {
float: right;
padding: 10px;
font-size: 36px;
color: #f3f3f3;
transition: all .2s;
}

input.star:checked ~ label.star:before {
content: '\f005';
color: goldenrod;
transition: all .25s;
}

input.star-5:checked ~ label.star:before {
color: orange;
text-shadow: 0 0 20px teal;
}

input.star-1:checked ~ label.star:before { color: purple; }


label.star:before {
content: '\f005';
font-family: FontAwesome;
}
.red{
color: pink;
}


.col-5{
display: grid;
grid-template-columns: 30% 30% 30% 30% 30%;
position: absolute;
left: 25%;
justify-content: space-between;
}
.col-6{
display: grid;
grid-template-columns: 40% 30% 20% 25% 30% 25%;
position: absolute;
}
.form{
background-color: orange;
color: purple;

}